canvas {
    border: 1px solid black;
    background-color: #f1f1f182;
}

#containerTwo {
    border: solid 2px;
    height: 200px;
    width: 370px;
    margin-top: 50px;
    position: relative;
}

#redButton {
    border: solid 2px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    right: 90px;
    top: 70px;
    position: absolute;
    background-color: red;
}

#blueButton {
    border: solid 2px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    right: 230px;
    top: 70px;
    position: absolute;
    background-color: blue; 
}